.container {
    margin: 2.5rem 2.5rem 0px 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnContainer {
    display: flex;
}

.btnWrapper {
    margin-left: 1rem;
}

.link {
    text-decoration: none;
}

.disabledBtn {
    background: rgba(47, 79, 187, 0.4);
}

.headerBtn {
    margin-left: 1rem;
    font-family: "Plain";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    border: 1px solid #2f4fbb;
    border-radius: 4rem;
    width: auto;
    height: 3.2rem;
    cursor: pointer;
    color: #2f4fbb;
    background-color: white;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
}

.hideOnSmall {
    display: none;
}


.select {
    font-family: 'Plain';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2F4FBB;
    border: none;
    outline: none;
}


.icon {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

@media screen and (min-width: 668px) {
    .icon {
        margin: 0.7rem 1.2rem 0.7rem 0;
    }

    .hideOnSmall {
        display: initial;
    }

    .btnWrapper {
        margin-left: 1rem;
    }

    .headerBtn {
        padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    }
}