/* Style for container */
.container {
    margin: 40px 40px 0px 40px;
}

.headingInfo {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Plain';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.inputParagraph {
    margin-top: 1rem;
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 2.5rem;
    color: #181715;
}

.cartsDiv {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 8rem;
    width: 100%;
}

@media (min-width: 768px) {
    .cartsDiv {
        flex-direction: row;
    }
}