.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

.iconContainer {
    background: #EBEBEB;
    border-radius: 15px;
    padding: 0px 20px 20px 20px;
    width: 100%;
    max-width: 505px;
}

.exampleHeader {
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #677683;
    padding: 10px 10px 10px 0;
}

.secondColorDiv {
    background: #fff;
    border-radius: 5px;
    height: 330px;
}

.selected {
    border: 4px solid #2F4FBB;
    background-position: 98% 2%;
    background-repeat: no-repeat;
}

.headerDiv {
    margin-top: 15px;
}

.exampleText {
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #181715;
    padding: 20px 20px 0 20px;
}

.textHeader {
    font-family: 'Plain';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #181715;
}

@media (max-width: 1800px) {
    .iconContainer {
        width: 410px;
        max-width: 405px;
    }

    .secondColorDiv {
        height: 300px;
    }

}