.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image {
    border-radius: 8px;
}

.input {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #677683;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
}

.btnDiv {
    margin-top: 40px;
}

.btn {
    color: white;
    background-color: #2F4FBB;
    border: 1px solid #2F4FBB;
    width: 150px;
    height: 50px;
    border-radius: 40px;

}